body
{
    background-color: black;
}
main
{
    background-color: aliceblue;
    margin: auto;
    max-width: 800px;
    min-height: 100vh;
    padding: 10px;
}
canvas
{
    border: rgb(113, 113, 113) solid 5px;
}